@import url(./../../reset/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
  font-family: "Inter", sans-serif;

  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #2E7D32;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form {
  background-color: white;
  border-radius: 8px;
}

h1 {
  padding: 131px 110px 25px;
  text-align: center;

  color: #2E7D32;
  font-weight: 700;
  font-size: 48px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 40px;
  position: relative;
}

label{
  position: absolute;

  top: -25px;
  left: 5px;

  color: white;
  font-weight: 400;
  font-size: 14px;
}

input {
  font-size: 16px;
  width: 410px;
}

#text, #password{
  border: 3px #2E7D32 solid;
  border-radius: 8px;
  padding: 16px 30px;
}

#btn {
  width: 220px;
  height: 55px;

  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background-color: #2E7D32;
  color: white;
}

.registr{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

  color: #757373;
  font-size: 24px;
  font-weight: 600;
}
